{% extends 'base.html' %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Login</span>
            </h2>
            <span class="text-danger">{{form.non_field_errors}}</span>
            <form class="w-25 mx-auto" method="POST">
              {% csrf_token %}
              {% for field in form %}
                <div class="control-group form-group">
                  <div class="controls">
                    {{field.errors}}
                    <label>{{field.label}}</label>
                    {{field}}
                    <p class="help-block"></p>
                  </div>
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}