{% extends 'base.html' %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">{{user.username}}</span>
              <a href="{% url 'cardapio_cadastro' %}" class="btn btn-primary">Cadastrar item no cardápio</a><br />
              <a href="{% url 'filial_cadastro' %}" class="btn btn-primary">Cadastrar filial</a><br />
              <a href="{% url 'registro' %}" class="btn btn-primary">Cadastrar funcionário</a><br />
              <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}