{% extends 'base.html' %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>{{titulo}}</h2>
            <hr/>
            <span class="text-danger">{{form.non_field_errors}}</span>
            <form class="w-75 mx-auto" method="POST">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}