{% extends 'base.html' %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Alterar Senha</span>
            </h2>
            <span class="text-danger">{{form.non_field_errors}}</span>
            <form class="w-75 mx-auto" method="POST">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <button type="submit" class="btn btn-primary">Alterar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}