{% extends 'base.html' %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>Definir senha</h2>
            <hr/>
            <h3 class='text-uppercase'><strong>{{name}}</strong></h3>
            <form action="/senha/{{id}}/" class="w-75 mx-auto" method="POST">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}