{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fina Massa</title>
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/46183de311.js"></script>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

</head>

<body>

  <div class="site-heading text-center text-white d-none d-lg-inline-block p-5">
    <img src="{% static 'img/logo.png' %}" width="auto" height="250px" />
    <!--h1 class="site-heading-upper text-dark">Fina Massa</h1>
    <h1 class="site-heading-lower text-primary mb-3">Pizzaria & Pastelaria</h1-->
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Fina Massa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4 {{index}}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Início
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4 {{sobre}}" id="sobre">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'sobre' %}">Sobre</a>
          </li>
          <li class="nav-item px-lg-4 {{cardapio}}">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'cardapio' %}">Cardápio</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item px-lg-4 {{restrito}} dropdown">
              <a class="nav-link text-uppercase text-expanded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
              </a>
              <div class="dropdown-menu bg-main-faded text-center p-0" aria-labelledby="navbarDropdown">
                <a class="dropdown-item {{cardapio_gerenciar}}" href="{% url 'cardapio_itens' %}">Gerenciar itens do cardápio</a>
                <a class="dropdown-item {{filial_gerenciar}}" href="{% url 'filiais' %}">Gerenciar filiais</a>
                <a class="dropdown-item {{funcionario_gerenciar}}" href="{% url 'funcionarios' %}">Gerenciar funcionários</a>
                <a class="dropdown-item {{promocao_gerenciar}}" href="{% url 'promocoes' %}">Gerenciar promoções</a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item bg-danger" href="{% url 'logout' %}">Sair</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item px-lg-4 {{restrito}}">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Área Restrita</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block conteudo %}
  {% endblock %}

  <div class="modal fade" id="promocao" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close right-top p-2 bg-danger" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="" width="100%" height="auto" />
      </div>
    </div>
  </div>
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.ba-throttle-debounce.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% block scripts %}
    <script type="text/javascript">
      $(() => {
        $('#promocao').on('show.bs.modal', (e) => {
          $modal = $(e.target);
          imagem = $(e.relatedTarget).data('imagem');
          $modal.find('img').attr('src', "/media/"+imagem);
        });
      });
    </script>
  {% endblock %}
  <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>
