{% extends 'base.html' %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Gerenciar intens do cardápio</span>
              <a href="{% url 'cardapio_cadastro'%}" class="btn btn-primary">Cadastrar novo</a>
            </h2>
            <table class="table table-bordered bg-main">
              <thead class="">
                <tr>
                  <th>Nome</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for item in itens %}
                <tr>
                  <td>{{item}}</td>
                  <td>
                    <a href="{% url 'cardapio_edicao' item.id %}" class="btn btn-success rounded-circle"><i class="far fa-edit"></i></a>
                    <a href="{% url 'cardapio_remocao' item.id %}" class="btn btn-danger rounded-circle"><i class="fas fa-times"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}