{% extends 'base.html' %}
{% load widget_tweaks static %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>{{titulo}}</h2>
            <hr/>
            <form method="post" class="mx-auto mt-3">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <div id="div-precos">
                {% for tamanho_form in form.tamanhos %}
                  {% include 'form.html' with form=tamanho_form only %}
                {% endfor %}
                {{form.tamanhos.management_form}}
              </div>
              <button name="salvar-item" type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{super}}
  <script type="text/javascript">
    tipos = {
      '': {
          possui_ingredientes: false,
          possui_tamanhos: false
      },
      {% for tipo in tipos %}
        '{{tipo.id}}': {
          possui_ingredientes: {{tipo.possui_ingredientes|yesno:'true,false'}},
          possui_tamanhos: {{tipo.possui_tamanhos|yesno:'true,false'}}
        },
      {% endfor %}
    }
    $precos = $('#div-precos').hide();
    $preco = $('input[name=preco]').parents('.form-group');
    $ingredientes = $('input[name=ingredientes]').parents('.form-group');
     chechar_tipo = ($select) => {
        possui_tamanhos = tipos[$select.val()].possui_tamanhos;
        $precos.toggle(possui_tamanhos);
        $preco.toggle(!possui_tamanhos);
        possui_ingredientes = tipos[$select.val()].possui_ingredientes;
        $ingredientes.toggle(possui_ingredientes)
     }
     $(() => {
      chechar_tipo($('select[name=tipo]').change(e => {
        chechar_tipo($(e.target));
      }));

      $('input').on('keypress', (e) => {
        if (e.which == 13){
          e.preventDefault()
          $('button[name=salvar-item]').click()
        }
      })
      const $nome_div = $(
              "<div class='inline-button {% if ingrediente_form.nome.errors %}erro{% endif %}'>" +
                  '{% render_field ingrediente_form.nome class="form-control" placeholder="Cadastrar novo ingrediente" %}' +
                  "<button type=submit name=salvar-ingrediente class=\"btn btn-primary py-0\">Salvar</button>" +
                "</div>" +
                {% for erro in ingrediente_form.nome.errors %}
                  '<small class="text-danger">{{erro}}</small>' +
                {% endfor %}''
            );
      $('input[name=ingredientes]:last').parents('.form-group').append($nome_div);
    });
  </script>
  <script src="{% static 'js/readonly_select.js' %}"></script>
{% endblock %}