{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Cardápio</span>
            </h2>
            {{filter.form}}
            <h3 class='text-uppercase'><strong>Pastéis</strong></h3>

            <table class="list-hours mb-5 text-left mx-auto">
              {% for pastel in pasteis%}
              <tr class="list-hours-item">
                <td class="pt-2 pr-5">
                  {{pastel.descricao}}<br/>
                  <span class="sp">({{pastel.ingredientes}})</span>
                </td>
                <td class="text-right">R${{pastel.preco}}</td>
              </tr>
              {% endfor %}
            </table>
            <h3 class='text-uppercase'><strong>Pizzas</strong></h3>

            <table class="list-hours mb-5 text-left mx-auto">
              {% for pizza in pizzas %}
              <tr class="list-hours-item">
                <th></th>
                <td class="text-center">
                  P<br/>
                  <span class="sp">4 fatias</span>
                </td>
                <td class="text-center">
                  M<br/>
                  <span class="sp">6 fatias</span>
                </td>
                <td class="text-center">
                  G<br/>
                  <span class="sp">8 fatias</span>
                </td>
              </tr>
              <tr class="list-hours-item">
                <td class="pt-2 pr-5"> 
                  {{pizza.descricao}}<br/>
                  <span class="sp">({{pizza.ingredientes}})</span>
                </td>
                <td class="text-center pr-2">R$--,--</td>
                <td class="text-center pr-2">R$--,--</td>
                <td class="text-center pr-2">R${{pizza.preco}}</td>
              </tr>
              {% endfor %}
            </table>

            <h3 class='text-uppercase'><strong>Pizzas Especiais</strong></h3>

            <table class="list-hours mb-5 text-left mx-auto">
              {% for pizza_especial in pizzas_especiais %}
              <tr class="list-hours-item">
                <th></th>
                <td class="text-center">
                  P<br/>
                  <span class="sp">4 fatias</span>
                </td>
                <td class="text-center">
                  M<br/>
                  <span class="sp">6 fatias</span>
                </td>
                <td class="text-center">
                  G<br/>
                  <span class="sp">8 fatias</span>
                </td>
              </tr>
              <tr class="list-hours-item">
                <td class="pt-2 pr-5">
                  {{pizza_especial.descricao}}<br/>
                  <span class="sp">({{pizza_especial.ingredientes}})</span>
                </td>
                <td class="text-center pr-2">R$--,--</td>
                <td class="text-center pr-2">R$--,--</td>
                <td class="text-center pr-2">R${{pizza_especial.preco}}</td>
              </tr>
              {% endfor %}
            </table>

            <h3 class='text-uppercase'><strong>Sucos</strong></h3>

            <table class="list-hours mb-5 text-left mx-auto">
              {% for suco in sucos %}
              <tr class="list-hours-item">
                <td class="pt-2 pr-5">
                  {{suco.descricao}}
                </td>
                <td class="text-right">R${{suco.preco}}</td>
              </tr>
              {% endfor %}
            </table>

            <h3 class='text-uppercase'><strong>Outras bebidas</strong></h3>

            <table class="list-hours mb-5 text-left mx-auto">
              {% for bebida in bebidas %}
              <tr class="list-hours-item">
                <td class="pt-2 pr-5">
                  {{bebida.descricao}}
                </td>
                <td class="text-right">R${{bebida.preco}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
      <!--<div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                <span class="section-heading-lower">About Our Cafe</span>
              </h2>
              <p>Founded in 1987 by tde Hernandez brotders, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of Soutd and Central America. We are dedicated to travelling tde world, finding tde best coffee, and bringing back to you here in our cafe.</p>
              <p class="mb-0">We guarantee tdat you will fall in
                <em>lust</em>
                witd our decadent blends tde moment you walk inside until you finish your last sip. Join us for your daily routine, an outing witd friends, or simply just to enjoy some alone time.</p>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </section>
{% endblock %}
