{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Cardápio</span>
            </h2>

            <hr/>
            <form id="filtros" method="get" class="form-inline justify-content-center">
              {% for field in filter.form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                  <div class="form-control h-auto mx-md-2 my-2 mx-0">
                    <strong>{{field.label_tag}}</strong>
                    {% for checkbox in field %}
                      <div class="form-control mx-md-2 my-2 mx-0">
                        {{checkbox}} {{checkbox.label}}
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <label class="sr-only" for="{{field.id_for_label}}">{{field.label}}</label>
                  {% render_field field class='form-control mx-md-2 my-2 mx-0' placeholder=field.label %}
                {% endif %}
              {% endfor %}
            </form>
            <button type="submit" form="filtros" class="btn btn-primary">Filtrar</button>
            <hr/>
            <div class="text-left promocao"><i class="fas fa-certificate"></i> Em promoção</div>

            {% for tipo in tipos %}
              {% with itens=tipo.all %}
                {% if itens %}
                    {% for item in itens %}
                      {% if forloop.first %}
                        <h3 class='text-uppercase'><strong>{{item.tipo}}</strong></h3>
                        <table class="list-hours mb-5 text-left mx-auto">
                          {% if item.pizza_set.all %}
                            <tr class="list-hours-item">
                              <td></td>
                              <th></th>
                              {% for tamanho in tamanhos %}
                                <td class="text-center">
                                  {{tamanho.descricao}}<br/>
                                  <span class="sp">{{tamanho.fatias}} fatias</span>
                                </td>
                              {% endfor %}
                            </tr>
                        {% endif %}
                      {% endif %}
                      <tr class="list-hours-item">
                        <td class="promocao">
                          {% if item.promocao_atual %}
                            <i class="fas fa-certificate mx-2"></i>
                          {% endif %}
                        </td>
                        <td class="pt-2 pr-5">
                          {{item.descricao}}<br/>
                          {% if item.ingredientes.all %}
                            <span class="sp">
                              {% for ingrediente in item.ingredientes.all %}
                                {% if forloop.first %}({% endif %}{{ingrediente}}{% if forloop.last %}){% else %},{% endif %}
                              {% endfor %}
                            </span>
                          {% endif %}
                        </td>
                        {% if item.pizza_set.all %}
                          {% for tamanho in item.pizza_set.all %}
                            <td class="text-center pr-2">R${{tamanho.preco}}</td>
                          {% endfor %}
                        {% else %}
                          <td class="text-right">R${{item.preco}}</td>
                        {% endif %}
                        {% if user.is_authenticated %}
                          <td class="px-3 text-center">
                            <a href="{% url 'cardapio_edicao' item.id %}" class="text-primary"><i class="fas fa-edit"></i></a>
                          </td>
                          <td class="px-3 text-center">
                            <a href="{% url 'cardapio_remocao' item.id %}" class="text-danger"><i class="fas fa-trash"></i></a>
                          </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </table>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
      <!--<div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                <span class="section-heading-lower">About Our Cafe</span>
              </h2>
              <p>Founded in 1987 by tde Hernandez brotders, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of Soutd and Central America. We are dedicated to travelling tde world, finding tde best coffee, and bringing back to you here in our cafe.</p>
              <p class="mb-0">We guarantee tdat you will fall in
                <em>lust</em>
                witd our decadent blends tde moment you walk inside until you finish your last sip. Join us for your daily routine, an outing witd friends, or simply just to enjoy some alone time.</p>
            </div>
          </div>
        </div>
      </div>->
    </div>
  </section-->
{% endblock %}
