{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">Cadastrar item de cardápio</span>
            </h2>
            <form method="post" class="mx-auto mt-3">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <div id="div-precos">
                {% for pizza_form in pizzas_forms %}
                  {% include 'form.html' with form=pizza_form only %}
                {% endfor %}
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {{super}}
  <script type="text/javascript">
    $precos = $('#div-precos')
    $preco = $('input[name=preco]').parents('.form-group')
     chechar_tipo = ($select) => {
        is_pizza = $('option[value='+$select.val()+']').html().toLowerCase().startsWith('pizza')
        $precos.toggle(is_pizza)
        $preco.toggle(!is_pizza)
     }
     $(() => {
      chechar_tipo($('select[name=tipo]').change(e => {
        chechar_tipo($(e.target));
      }));
     });
  </script>
{% endblock %}