{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>Gerenciar imagens</h2>
            <hr/>
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-6 my-2">
                <a href="{% url 'carrossel_cadastro'%}" class="btn btn-success rounded-circle p-4 m-4">
                  <img src="{% static 'img/plus.png' %}" width="100%" height="auto" />
                </a>
              </div>
              {% for imagem in imagens %}
                <div class="col-lg-3 col-sm-4 col-6 my-2">
                  <div class="p-relative h-100">
                    <img src="/media/{{imagem}}" width="100%" height="auto">
                    <a href="{% url 'carrossel_remocao' imagem.id %}" class="btn btn-danger rounded-circle right-top2"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}