{% load widget_tweaks %}

{% for erro in form.non_field_errors %}
  <div class="alert alert-danger">{{erro|escape}}</div>
{% endfor %}
{% for field in form %}
  <div class="control-group form-group">
    <div class="controls{% if field.errors %} erro{% elif form.is_bound %} sem-erro{% endif %}">
      {{field.label_tag}}<br/>
      {% if field.field.widget.input_type == 'checkbox' %}
        {% for checkbox in field %}
          <div class="form-control">
            {{checkbox}}
            {{checkbox.label}}
          </div>
        {% endfor %}
      {% else %}
        {{field|add_class:"form-control"}}
      {% endif %}
      {% for erro in field.errors %}
        <small class="text-danger">{{erro}}</small>
      {% endfor %}
    </div>
  </div>
{% endfor %}