{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{hidden}}
{% endfor %}
{% for erro in form.non_field_errors %}
  <div class="alert alert-danger">{{erro|escape}}</div>
{% endfor %}
{% for field in form.visible_fields %}
  <div class="control-group form-group">
    <div class="controls{% if field.errors %} erro{% endif %}">
      {{field.label_tag}}<br/>
      {% with type=field.field.widget.input_type %}
        {% if type == 'checkbox' or type == 'radio' %}
          {% for checkbox in field %}
            <div class="form-control">
              {{checkbox}}
              {{checkbox.label}}
            </div>
          {% endfor %}
        {% else %}
          {{field|add_class:"form-control"}}
        {% endif %}
      {% endwith %}
      {% for erro in field.errors %}
        <small class="text-danger">{{erro}}</small>
      {% endfor %}
    </div>
  </div>
{% endfor %}