{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>Gerenciar funcionários</h2>
            <hr/>
            <a href="{% url 'funcionario_cadastro'%}" class="btn btn-primary my-4">Cadastrar novo</a>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                  <td>{{funcionario.first_name}}</td>
                  <td>
                    <!-- <a href="{ % url 'funcionario' funcionario.id %}" class="btn btn-success rounded-circle"><i class="far fa-search"></i></a> -->
                    <a href="{% url 'funcionario_edicao' funcionario.id %}" class="btn btn-success rounded-circle"><i class="far fa-edit"></i></a>
                    <a href="{% url 'funcionario_remocao' funcionario.id %}" class="btn btn-danger rounded-circle"><i class="fas fa-times"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}