{% extends 'base.html' %}
{% load static %} 

{% block conteudo %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Lorem ipsum</span>
            <span class="section-heading-lower">Lorem ipsum</span>
          </h2>
          <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare maximus erat, a scelerisque metus. Nunc dapibus nulla augue, varius feugiat ante tempor quis. Pellentesque vel facilisis massa. Nullam est justo, vulputate sit amet consequat sit amet, eleifend id erat.</p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Lorem ipsum!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Lorem ipsum</span>
              <span class="section-heading-lower">Lorem ipsum</span>
            </h2>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare maximus erat, a scelerisque metus. Nunc dapibus nulla augue, varius feugiat ante tempor quis. Pellentesque vel facilisis massa. Nullam est justo, vulputate sit amet consequat sit amet, eleifend id erat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
