{% extends 'base.html' %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2>Gerenciar promoções</h2>
            <hr/>
            <a href="{% url 'promocao_cadastro'%}" class="btn btn-primary my-4">Cadastrar nova</a>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Promoção do dia</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for promocao in promocoes %}
                <tr>
                  <td>{{promocao.data|date:"d/m/Y"}}</td>
                  <td>
                    <button class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#promocao" data-imagem="{{promocao.imagem}}"><i class="fas fa-search"></i></button>
                    <a href="{% url 'promocao_edicao' promocao.id %}" class="btn btn-success rounded-circle"><i class="far fa-edit"></i></a>
                    <a href="{% url 'promocao_remocao' promocao.id %}" class="btn btn-danger rounded-circle"><i class="fas fa-times"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}