{% extends 'base.html' %}

{% block conteudo %}
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading">
              <span class="section-heading-lower">{{titulo}}</span>
            </h2>
            <form method="post" class="mx-auto mt-3" enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'form.html' with form=form only %}
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}