{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="inner text-center rounded">
            <h2 class="mb-4">Sobre a Fina Massa</h2>
            <h3 class='text-uppercase'><strong>Missão</strong></h3>
            <p class="lead mb-5">Oferecer aos apaixonados por pizzas e pastéis a mais saborosa refeição pelo melhor preço.</p>
            <h3 class='text-uppercase'><strong>Visão</strong></h3>
            <p class="lead">Se tornar a principal pizzaria em Canguaretama e região.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}